<nav class="menu" id="desktop">
    <ul>
      <li><a href="index.ejs">Início</a></li>
      <li><a href="cadastro.ejs">Cadastro</a></li>
      <li><a href="history.ejs">História</a></li>
    </ul>
  </nav>