<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémon</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <div>
        <img id="iconeMenu" src="images/menu.png" alt="" />
      </div>
      <img id="logo" src="images/logo.gif" alt="" />
    </header>
    <main>
      <div id="barraMenu">
        <%- include('./partials/menu.ejs') %>
        <img src="images/pokedex.png" alt="" />
        <img id="pikachu" src="images/pikachu.gif" alt="">
      </div>
      <section id="register">
        <div id="containerForm">
          <h2>Cadastro de pokemons</h2>

          <form action="/add" method="POST">

            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required />

            <label for="type">Tipo:</label>
            <input type="text" id="type" name="type" required/>

            <label for="image">Link da Imagem:</label>
            <input type="text" id="image" name="image" required/>

            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required/>

            <label for="height">Altura:</label>
            <input type="number" id="height" name="height" required/>

            <label for="weigth">Peso:</label>
            <input type="number" id="weigth" name="weigth" required/>

            <label for="category">Categoria:</label>
            <input type="text" id="category" name="category" required/>

            <label for="abilities">Habilidades:</label>
            <input type="text" id="abilities" name="abilities" />

            <button id="buttonRegister" type="submit">Cadastrar</button>
          </form>
        </div>
      </section>
      <script src="scripts/script.js"></script>
    </main>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
