<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <span id="iconeMenu"></span>
        <span>
          <h1>POKEDEX</h1>
        </span>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="index.ejs">Início</a></li>
          <li><a href="cadastro.ejs">Cadastro</a></li>
          <li><a href="detalhes.ejs">Detalhes</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="container">
        <div id="cards">
          <% pokedex.forEach( pokemon => { %>
            <div class="card">
              <img src=" <%= pokemon.image %>" alt="" />
              <h2 class="description"><%= pokemon.name %></h2>
              <p>Tipo: <%= pokemon.type %></p>
            </div>
          <% }) %>
        </div>
      </section>
      <script src="script.js"></script>
    </main>
  </body>
</html>
